@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --head-font: 'Hubballi', cursive;
  --main-font: 'Montserrat', sans-serif;

  --black: #111;
  --white: #fff;
  --dark-olive: #3e432e;
  --olive: #616f39;
  --lime: #a7d129;

  --radius: 4%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--main-font);
}
